<?xml version = "1.0"?>
<robot name="jetnano" xmlns:xacro="http://www.ros.org/wiki/xacro">

<material name="white">
  <color rgba="1 1 1 1"/>
</material>
<material name="black">
  <color rgba="0 0 0 1"/>
</material>
<material name="blue">
  <color rgba="0 0 0.9 1"/>
</material>
<material name="green">
  <color rgba="0 0.8 0 1"/>
</material>

<!--link name="world" />

<joint name="world_to_map" type="fixed" >
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="world" />
  <child link="map" />
</joint-->

<link name="world" />

<joint name="world_to_map=" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="world"/>
  <child link="map"/>
</joint>


<link name="map" />

<joint name="map_to_odom=" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="map"/>
  <child link="odom"/>
</joint>

<link name="odom" />

<joint name="odom_to_base_link=" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="odom"/>
  <child link="base_link"/>
</joint>

<link name="base_link"/>

<joint name="camera_joint" type="fixed">
  <parent link="base_link"/>
  <child link="camera_link"/>
  <origin xyz="0 0 0.32" rpy="0 0 0"/>
</joint>

<joint name="laser_joint" type="fixed">
  <axis xyz="0 0 0" />
  <parent link="base_link"/>
  <child link="laser_link"/>
  <origin xyz="0 0 0" rpy="0 0 -84.8"/>
</joint>
<link name="camera_link">
</link>

<link name="laser_link">
</link>







</robot>
